{{- $email := promptStringOnce . "email" "Email address" -}}

{{- $dpichoices := list "retina" "mid" "low" -}}
{{- $dpi := promptChoiceOnce . "dpi" "What is the resolution if your display" $dpichoices -}}

{{- $mousedpichoices := list "high" "low" -}}
{{- $mousedpi := promptChoiceOnce . "mousedpi" "What is the dpi of your mouse" $mousedpichoices -}}

encryption = "age"
[age]
command = "rage"
identity = "~/.config/chezmoi/key.txt"
recipient = "age14w82e7tlynju9t64mf6vdms528jw20ngya3rdckleeq0uj88uyrqpfw375"

[data]
email = {{ $email | quote }}
dpi = {{ $dpi | quote }}
mousedpi = {{ $mousedpi | quote }}

[edit]
command = "hx"

[merge]
command = "nvim"
args = ["-d", "{{`{{ .Destination }}`}}", "{{`{{ .Source }}`}}", "{{`{{ .Target }}`}}"]
