set-window-option -g mode-keys vi

# 256 color terminal
set -g default-terminal "screen-256color"
set -g history-limit 8192

# Split keeping current directory
bind-key % split-window -h -c "#{pane_current_path}"
bind-key '"' split-window -v -c "#{pane_current_path}"
