[user]
    name = {{ .name }}
    email = {{ .email }}
    signingkey = 0xBE92A2933EB7CA99

[core]
    editor = vim
    attributesfile = ~/.gitattributes
    commitGraph = true

[rerere]
    enabled = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[delta]
    line-numbers = true
    navigate = true
    syntax-theme = Solarized (dark)
    tabs = 8

[interactive]
    diffFilter = delta --color-only

[commit]
    gpgsign = false
    template = ~/.config/git/.git-commit-template

[rerere]
	enabled = true

[alias]
    find = log --pretty=\"format:%Cgreen%H %Cblue%s\" --name-status --grep
    dfind = log --decorate --stat --date=iso --format=fuller --name-status --grep
    ddfind = log --decorate --stat --date=iso --format=fuller --patch --grep
    co = checkout
    ec = config --global -e
    up = "!f() { git pull --rebase --prune $@ && git submodule update --init --recursive; }; f"
    sc = switch -c
    undo = reset HEAD~1 --mixed
    amend = commit -a --amend
    wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
    save = !git add -A && git commit -m 'SAVEPOINT'
    wip = !git add -u && git commit -m "WIP"
    bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
    bdone = "!f() { git checkout ${1-master} && git up && git bclean ${1-master}; }; f"
    glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%aN>%Creset'
    di = diff --color-words
    dic = diff --color-words=.
    stats = shortlog -sen --no-merges
    slog = shortlog -ne --no-merges
    plog = log -1 --pretty=%B
    dlog = log --decorate --stat --date=iso --format=fuller
    ddlog = log --decorate --stat --date=iso --format=fuller -p
    tlog = tag -l -n99
    hist = log --follow -p
    pf = push --force-with-lease
    sba = "!f() { git subtree add --prefix $1 $2 master --squash; }; f"
    sbu = "!f() { git subtree pull --prefix $1 $2 master --squash; }; f"
    sbp = "!f() { git subtree push --prefix $1 $2 $3; }; f"

[log]
    mailmap = true

[gc]
    writeCommitGraph = true

[merge]
    ff = only

[push]
    default = simple
    followTags = true

[credential]
    helper = cache --timeout=7200

[rebase]
    autostash = true

[color "status"]
    added = green
    changed = yellow bold
    untracked = red bold

[gpg]
    program = gpg2

{{ if eq .chezmoi.hostname "panda" -}}
[credential "smtp://luke%40hsiao.dev@smtp.migadu.com%3a465"]
    helper = !pass migadu.com/{{ .email }}/git

[sendemail]
    smtpserver = smtp.migadu.com
    smtpuser = {{ .email }}
    smtpencryption = tls
    smtpserverport = 465
{{- end }}
