set-window-option -g mode-keys vi

# See https://github.com/neovim/neovim/wiki/FAQ#esc-in-tmux-or-gnu-screen-is-delayed
set-option -sg escape-time 5

# 256 color terminal
set -g default-terminal "screen-256color"
set -g history-limit 8192

# Split keeping current directory
bind-key % split-window -h -c "#{pane_current_path}"
bind-key '"' split-window -v -c "#{pane_current_path}"

# Support 24-bit color
set -g default-terminal 'screen-256color'
set -ga terminal-overrides ',*256col*:Tc'
