Host sing
  HostName sing.stanford.edu
  ForwardAgent yes
  User lwhsiao

Host myth
  HostName myth.stanford.edu
  ForwardAgent yes
  User lwhsiao

Host squirtle
  HostName 100.100.218.38
  User lwhsiao

Host rsync
  HostName usw-s007.rsync.net
  User 57127

Host menlopark
  HostName 100.73.157.74
  User mpav

Host pikachu
  HostName 100.88.197.32
  ForwardAgent yes
  User snr

Host motioneye
  HostName 100.96.214.42
  User admin

Host raiders4
  HostName raiders4.stanford.edu
  ForwardAgent yes
  # ProxyJump sing
  User lwhsiao

Host raiders2
  HostName raiders2.stanford.edu
  ForwardAgent yes
  # ProxyJump sing
  User lwhsiao

Host raiders3
  HostName raiders3.stanford.edu
  ForwardAgent yes
  # ProxyJump sing
  User lwhsiao

Host watchog
  HostName watchog.stanford.edu
  ForwardAgent yes
  ProxyJump sing
  User lwhsiao

Host bommpi
  HostName dev.bookofmoremoney.com
  User pi

Host do
  HostName git.hsiao.dev
  ForwardAgent yes
