Host sing 
  HostName sing.stanford.edu
  ForwardAgent yes

Host subversion.assembla.com 
  User svn
  SendEnv REPO_NAME
{{ if eq .chezmoi.hostname "squirtle" }}
Host raiders4
  HostName raiders4.stanford.edu
  ForwardAgent yes

Host raiders2
  HostName raiders2.stanford.edu
  ForwardAgent yes

Host raiders3
  HostName raiders3.stanford.edu
  ForwardAgent yes

Host watchog
  HostName watchog.stanford.edu
  ForwardAgent yes

Host pihole
  HostName 192.168.1.213
  User pi
{{- end -}}
