[Desktop Entry]
Type=Application
Name=Zulip
Comment=Threaded team chat
Icon={{ .chezmoi.homeDir }}/.local/share/applications/icons/Zulip.png
TryExec=zulip
Exec=zulip
Terminal=false
Categories=Chat;Messaging;
StartupWMClass=zulip
Keywords=zulip;messaging;chat;team;
