{{- if (index . "aerc") -}}
[Gmail]
source         = imaps://luke.w.hsiao%40gmail.com:{{ .aerc.gmail }}@imap.gmail.com
outgoing       = smtps+plain://luke.w.hsiao%40gmail.com:{{ .aerc.gmail }}@smtp.gmail.com
default        = INBOX
from           = Luke Hsiao <luke.w.hsiao@gmail.com>
folders        = INBOX,[Gmail]/All Mail,[Gmail]/Sent Mail,[Gmail]/Spam,[Gmail]/Trash
archive        = [Gmail]/All Mail
signature-file = ~/.config/aerc/gmail.txt

[Stanford]
source         = `imaps://lwhsiao%40stanford.edu:{{ .aerc.stanford }}@outlook.office365.com`
outgoing       = `smtps+plain://lwhsiao%40stanford.edu:{{ .aerc.stanford }}@smtp.stanford.edu`
default        = INBOX
from           = Luke Hsiao <lwhsiao@stanford.edu>
copy-to        = Sent Items
folders        = INBOX,Deleted Items,Archive,Drafts,Sent Items
signature-file = ~/.config/aerc/stanford.txt

[Personal]
source         = imaps://luke%40hsiao.dev:{{ .aerc.fastmail }}@imap.fastmail.com:993
outgoing       = smtps+plain://luke%40hsiao.dev:{{ .aerc.fastmail }}@smtp.fastmail.com:465
default        = INBOX
from           = Luke Hsiao <luke@hsiao.dev>
copy-to        = Sent
folders        = INBOX,Archive,Sent,Spam,Trash
signature-file = ~/.config/aerc/gmail.txt
{{ end }}
