#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

[user]
name = "Luke Hsiao"
email = {{ .email }}

[git]
auto-local-bookmark = true

[templates]
git_push_bookmark = '"lwh/" ++ change_id.short()'

[ui]
editor = "hx"
pager = "delta"
diff-formatter = ":git"

[aliases]
l = ["log", "-r", "@ | ancestors(trunk()..(visible_heads() & mine()), 2) | trunk()"]
la = ["log", "-r", "::"]
